{% load static%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{%static 'css/reviews.css' %}">

<div class="header d-flex">
    <a href="/" class="site_title m-auto">My Movie Reviews🐬</a>
    <a href="/reviews/create" class="add">Add new reviews</a>
</div>


<div>
    <div class="body_header d-flex">
        <div class="options d-flex">
            <a href="/reviews/{{review.id}}/edit" class="edit">edit</a>
            <form action="/reviews/{{review.id}}/delete" method="post">
            {% csrf_token%}
            <input type="submit" value="delete" style="width:100%;">
            </form>
        </div>

</div>
<div class="main_container">
    <h1 class="movie_title">{{review.title}}</h1>
    <small>개봉년도:{{review.release_year}}년</small>
    <br/>
    <small>감독:{{review.director}}</small>
    <br/>
    <small>주연:{{review.actors}}</small>
    <br/>
    <small>장르:{{review.genre}}</small>
    <br/>
    <small>러닝타임:{{review.running_time}}</small>
    <br/>
    <small>별점:{{review.star_rating}}</small>
    <br/>
    <div>
        <br/>
        <small class="content">리뷰내용:{{review.content}}</small>
    </div>
</div>

