<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발툴 리스트</title>
</head>

<body>

    <div class="nav_bar">
        <p><a href="{% url 'posts:ideas_create'%}">아이디어 등록</a></p>
        <p><a href="/">아이디어 관리</a></p>
        <p><a href="{% url 'posts:devtool_create'%}">개발툴 등록</a></p>
        <p><a href="{% url 'posts:devtool_list'%}">개발툴 관리</a></p>
    </div>

    
    {% for post in posts %}
    <article>
      <div>
            <p><a href="{% url 'posts:devtool_retrieve' post.pk %}">{{post.name}}</a></p>
            <small>예상 개발툴: {{post.name}}</small>
            <small>개발툴 종류: {{post.kind}}</small>
            <small>개발툴 설명: {{post.content}}</small>
        </div>
    </article>
    {% endfor %}
</body>
</html>