<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devtool Detail</title>

  </head>
  <body>
    <div class="detail_container">
        <h3>{{post.name}}</h3>
        
        <small>개발툴 이름: {{post.name}}</small>
        <br/>
        <small>개발툴 종류:{{post.kind}}</small>
        <br/>
        <small>개발툴 설명:</small>
        <br/>
            {{post.content}}
        <br/>

        <!--기능 12
        <p>만들 수 있는 sw 목록</p>
        
        {% for idea in all_ideas %}
        <a href="{% url 'posts:ideas_retrieve' idea.id %}">{{idea.title}}</a>
        {% endfor%}
       !-->
    </div>
    <div class="buttons">
      <a href="{% url 'posts:devtool_update' post.pk %}">수정</a>

      <form action="{% url 'posts:devtool_delete' post.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" , value="삭제" />
      </form>

      <a href="{% url 'posts:devtool_list' %}">목록</a>

    </div>

  </body>