<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devtool edit</title>
    <p>개발툴 수정 페이지입니다. 까먹기 전에 빨리 수정하세요!</p>
    
</head>

<body>
    <form action="{% url 'posts:devtool_update' post.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>개발툴명:</div>
        <input name="name" placeholder="name" value="{{post.name}}">
        <br/>

        <div>개발툴 종류:</div>
        <input name="kind" placeholder="kind" value="{{post.kind}}">
        <br/>
        
        <div>개발툴 설명:</div>
        <textarea name="content" value="{{post.content}}">{{post.content}}</textarea>
        </br/>
 
        <div>
            <input type="submit", value="save"/>
        </div>
    </form>
</body>
</html>